{
  "DEVICES": {
    "C3PO": {
      "type": "WindowsPC",
      "host": "10.0.0.3:5000",
      "MAC address": "40-61-86-C1-92-2F"
    },
    "TV": {
      "type": "IR",
      "host": "10.0.0.3:5000",
      "lirc_name": "Philips_32PFL5403D_12",
      "buttons": [
        {
          "name": "Power",
          "lirc_key_code": "KEY_POWER"
        }
      ]
    },
    "Receiver": {
      "type": "IR",
      "host": "10.0.0.3:5000",
      "lirc_name": "ONKYO_735M",
      "buttons": [
        {
          "name": "Power",
          "lirc_key_code": "KEY_POWER"
        },
        {
          "name": "VolDown",
          "lirc_key_code": "KEY_VOLUMEDOWN"
        },
        {
          "name": "VolUp",
          "lirc_key_code": "KEY_VOLUMEUP"
        }
      ]
    }
  }
}