html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #303030;
}

#root_box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.hamburger-menu {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.menu_title {
  text-align: center;
  width: 100%;
  padding: 5px;
  margin: 0px;
  color: #EEEEEE;
  font-family: 'Roboto', sans-serif;
}

#touchpad {
  background-color: #373738;
  border: 2px solid #717171;
  border-radius: 8px;
  margin: 5px;
  flex-grow: 1;
}

#mouse_box {
  display: flex;
  flex-direction: row;
  height: 70px;
}

.mouse_button {
  width: 50%;
  background-color: #EEEEEE;
  border: 2px solid #EEEEEE;
  border-radius: 8px;
  margin: 5px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to cover the entire container */
  background-origin: content-box;
  padding: 5px;
}

#left_click {
  background-image: url("LeftClick.svg");
}

#right_click {
  background-image: url("RightClick.svg");
}

#keyboard_box {
  display: flex;
  flex-direction: row;
  height: 70px;
}

.keyboard_button {
  /*height: 70px;*/
  flex: 1 1 0px;
  background-color: #45A1FF;
  border: 2px solid #45A1FF;
  border-radius: 8px;
  margin: 5px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  /*background-size: contain; /* Resize the background image to cover the entire container */
  background-size: 70%;
}

#esc {
  font-size: 200%; 
}

#playpause {
  background-image: url("PlayPause.svg");
}

#voldown {
  background-image: url("VolDown.svg");
}

#volup {
  background-image: url("VolUp.svg");
}

#keyboard {
  background-image: url("Keyboard.svg");
}

#shutdown {
  background-image: url("ShutDown.svg");
}

#hidden_text_field {
  position: fixed;
  left: 120%;
}