{% extends 'Base.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Receiver.css') }}">
<div class="row">
  <input type="button" value="VolDown" class="button voldown" id="voldown">
  <input type="button" value="VolUp" class="button volup" id="volup">
  <input type="button" value="Power" class="button power" id="power">
</div>
{% endblock %}

{% block javascript %}
rpz = devices["RaspberryPiZero"];
rpz_sender = new Sender(rpz["host"]);

receiver = rpz["remotes"]["Receiver"];

document.getElementById("voldown").addEventListener("click", function(e)
{
  send_ir_event(receiver["lirc"], receiver["codes"]["VolDown"], rpz_sender);
});

document.getElementById("volup").addEventListener("click", function(e)
{
  send_ir_event(receiver["lirc"], receiver["codes"]["VolUp"], rpz_sender);
});

document.getElementById("power").addEventListener("click", function(e)
{
  send_ir_event(receiver["lirc"], receiver["codes"]["Power"], rpz_sender);
});
{% endblock %}