<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='menu.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<title>PyRemote</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>

<body scroll="no">
	<div class="column">
		<div class="header">
			<h1 id="title">Slaapwel...</h1>
		</div>
	</div>
</body>
</html>