{% extends 'Base.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Watch_TV.css') }}">
<div class="mouse_control">
	<div class="touchpad watch_tv" id="touchpad"></div>
</div>
<div class="row">
  <input type="button" value="left_click" class="button left_click" id="left_click">
  <input type="button" value="right_click" class="button right_click" id="right_click">
</div>
<div class="row">
  <input type="button" value="Esc" class="button esc" id="esc">
  <input type="button" value="PlayPause" class="button playpause" id="playpause">
  <input type="button" value="VolDown" class="button voldown" id="voldown">
  <input type="button" value="VolUp" class="button volup" id="volup">
  <input type="button" value="Keyboard" class="button keyboard" id="keyboard">
  <input type="button" value="Power" class="button power" id="power">
</div>
<input type="password" id="hidden_text_field">
{% endblock %}

{% block javascript %}
c3po = new Sender(devices["C3PO"]["host"]);

let touchpad = document.getElementById("touchpad");
let left_button = document.getElementById("left_click");
let right_button = document.getElementById("right_click");

add_listeners(touchpad, left_button, right_button, c3po);

document.getElementById("esc").addEventListener("click", function(e)
{
  c3po.send({"event": "key_down", "key": "escape"});
});

document.getElementById("playpause").addEventListener("click", function(e)
{
  c3po.send({"event": "key_down", "key": "playpause"});
});

rpz = devices["RaspberryPiZero"];
rpz_sender = new Sender(rpz["host"]);

receiver = rpz["remotes"]["Receiver"];
tv = rpz["remotes"]["TV"];

document.getElementById("voldown").addEventListener("click", function(e)
{
  send_ir_event(receiver["lirc"], receiver["codes"]["VolDown"], rpz_sender);
});

document.getElementById("volup").addEventListener("click", function(e)
{
  send_ir_event(receiver["lirc"], receiver["codes"]["VolUp"], rpz_sender);
});

let keyboard = document.getElementById("keyboard");
let text_field = document.getElementById("hidden_text_field");
add_keyboard_event_listeners(keyboard, text_field, c3po);

document.getElementById("power").addEventListener("click", function(e)
{
  if (confirm("Ben je zeker?"))
  {
    c3po.send({"event": "shutdown"});
    send_ir_event(tv["lirc"], tv["codes"]["Power"], rpz_sender);
    send_ir_event(receiver["lirc"], receiver["codes"]["Power"], rpz_sender);
    if (confirm("Wil je de Raspberry Pi ook afsluiten?"))
    {
      rpz_sender.send({"event": "shutdown"});
    }
  }
});
{% endblock %}